/* Corpo formação */
.formacao {
  background-color: #141414;
  color: white;
  display: grid;
  justify-items: center;
  margin: 0 auto;
  padding: 40px 0;
}
.form-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  max-width: 1200px;
  gap: 120px;
  padding: 40px 20px;
  position: relative;
}

.contain-cursos {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  padding: 20px;
}

/* Formação conteudo */

.formacao .subtitulo {
  font-size: 9rem;
  word-break: break-all;
  max-width: 5ch;
  color: #212121;
  text-transform: uppercase;
}
.formacao .subtitulo::after {
  content: "";
  display: block;
  position: absolute;
  background: url(../img/detalhe.svg) no-repeat center;
  width: 130px;
  height: 100px;
  bottom: -90px;
  left: 80px;
}
.form-texto {
  font-size: 1.5rem;
  line-height: 32px;
  font-weight: 400, regular;
  max-width: 40ch;
  color: #a3a3a3;
  margin-bottom: 20px;
}
.form-texto b {
  font-weight: 700, bold;
  color: #ffffff;
}

/* Lista de cursos */

.lista-cursos {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.curso {
  display: grid;
  background-color: #090909;
  padding: 20px;
  border-radius: 4px;
  gap: 10px;
  position: relative;
  width: 150px;
}
.curso::before {
  content: "";
  position: absolute;
  height: 20px;
  width: 5px;
  background: linear-gradient(#82f0c8, #47c698);
  top: 50px;
  left: -4px;
}
.curso span {
  color: #a3a3a3;
  font-size: 0.875rem;
  font-weight: 400;
}
.curso h2 {
  color: white;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 25px;
  word-break: break-all;
  max-width: 12ch;
}

.curso .univ {
  font-size: 1rem;
  margin-top: 40px;
}

/* Div cursos e idiomas */

.cursos-div {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  position: relative;
  padding-right: 70px;
  padding-left: 5px;
}

.tit-div {
  color: #8f8f8f;
  font-size: 1rem;
  font-weight: 600;
  grid-column: -1 / 1;
  line-height: 40px;
}
.cursos-div p {
  color: white;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 30px;
}

/* Idiomas */

.idiomas-div {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  position: relative;
  padding-left: 5px;
}

.idiomas-div p {
  color: white;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
}

.idiomas-div span {
  color: #8f8f8f;
  margin-left: 10px;
}

.cursos-div h2::before {
  content: "";
  display: block;
  background: url(../img/cursos.svg) no-repeat center;
  position: absolute;
  width: 50px;
  height: 50px;
  left: -55px;
  top: -5px;
}

.idiomas-div h2::before {
  content: "";
  display: block;
  background: url(../img/idiomas.svg) no-repeat center;
  position: absolute;
  width: 50px;
  height: 50px;
  left: -55px;
  top: -5px;
}

@media (max-width: 800px) {
  .form-container {
    grid-template-columns: 1fr;
    padding: 40px 20px;
    gap: 20px;
  }
  .formacao .subtitulo {
    color: #ffff;
    font-size: 3rem;
    text-transform: capitalize;
    max-width: initial;
    margin-bottom: 0;
    padding: 0 20px;
  }
  .form-texto {
    font-size: 1.25rem;
    margin-bottom: 10px;
    max-width: 55ch;
  }
  .idiomas-div h2::before {
    position: initial;
  }
  .cursos-div {
    padding: 0px;
    padding-right: 30px;
    gap: 10px 0;
  }
  .cursos-div h2::before {
    position: absolute;
    left: 130px;
  }
  .contain-cursos {
    margin-top: 0;
    gap: 30px;
  }
  .idiomas-div h2::before {
    position: absolute;
    left: 60px;
    top: -5px;
  }
  .idiomas-div {
    margin-top: 0;
    gap: 10px 0px;
  }
}
@media (max-width: 500px) {
  .lista-cursos li {
    max-width: 130px;
  }
  .curso .univ {
    margin-top: 20px;
  }
  .formacao .subtitulo {
    padding: 0 10px;
  }
  .form-container {
    padding: 10px;
  }
}
